<table>
    <tr>
       <td><b>ID :</b></td>
       <td>&nbsp;{{test[0].id}} </td>
    </tr>
    <tr>
        <td><b>Name :</b></td>
        <td>&nbsp;{{test[0].name}} </td>
    </tr>
    <tr>
        <td><b>Address :</b></td>
        <td>&nbsp;{{test[0].address}} </td>
    </tr>
    <tr>
        <td><b>Phone :</b></td>
        <td>&nbsp;{{test[0].phone}} </td>
    </tr>
    <input type="button" (click)="xemtinhtrang()" value="Check">
    <input type="button" (click)="authsv.SignOut()" value="Sign Out">
</table>
<div *ngIf="StateOfStatus" id="status" >
    <table id="status">
        
        <tr>
            <td>
                <div>Tình Trạng Đột Nhập:</div>
            </td>
            <td>
                <div id = "dotnhap"></div>
            </td>
        </tr>
        <tr>
            <td>
                <div>Trình Trạng Cháy :</div>
            </td>
            <td>
                <div id = "chay"></div>
            </td>
        </tr>
        <tr>
            <input type="button" (click)="getdatastatus()" value="Xem Tình Trạng Trực Tiếp">
            <input type="button" (click)="hidestatus()" value="Đóng">
        </tr>
        
    </table>
</div>

